<p id="notice"><%= notice %></p>

<h1>Certificate Authorities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Intermediate</th>
      <th>Root</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificate_authorities.each do |certificate_authority| %>
      <tr>
        <td><%= certificate_authority.title %></td>
        <td><%= shorten_certificate_display certificate_authority.intermediate %></td>
        <td><%= shorten_certificate_display certificate_authority.root %></td>
        <td><%= link_to 'Show', certificate_authority %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificate Authority', new_certificate_authority_path %>
